::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
==========
fonts
==========
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/*
===========
variables
===========
*/
:root {
  --clr-primary-1: #de855f;
  --clr-white: #ffffff;
  --clr-black: #171717;
  --clr-dark: #1b1b1b;
  --font-family: "Poppins", sans-serif;
  --ff-weight-1: 400;
  --ff-weight-2: 500;
  --ff-weight-3: 700;
  --border-radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --clr-text: #171717b2;
}

/*
==============
global styles
==============
*/
body {
  font-family: var(--font-family);
  background-color: var(--clr-white);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-white);
}
img {
  display: block;
}

.btn {
  text-transform: capitalize;
  background: var(--clr-primary-1);
  color: var(--clr-white);
  padding: 0.9rem 1.3rem;
  display: inline-flex;
  /* gap: 1.325rem; */
  transition: var(--transition);
  font-size: 1rem;
  font-weight: var(--ff-weight-2);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: var(--border-radius);
}

/*
===========
hero
===========
*/
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/background img.png") center/cover no-repeat;
  min-height: 100vh;
  display: grid;
  align-items: center;
}
.hero-banner {
  width: 100%;
  padding: 3rem;
  margin: 0 auto;
}
.hero-banner h1 {
  font-size: 2.8rem;
  max-width: 30rem;
  color: var(--clr-white);
  font-weight: var(--ff-weight-3);
  font-weight: var(--ff-weight-3);
}
.hero-banner p {
  color: var(--clr-white);
  margin-top: 1rem;
  max-width: 30rem;
  font-size: 1.2rem;
  font-weight: var(--ff-weight-2);
}
.hero-btns {
  margin-top: 1.4rem;
}
.hero-btn p {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: var(--ff-weight-2);
}
@media screen and (min-width: 1170px) and (max-width: 1400px) {
  .hero-banner {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1170px;
  }
}

/*
============
travel-info
============
*/
.travel-info {
  transform: translate(0%, -50%);
}
.form-center {
  margin: 0 auto;
  max-width: 540px;
  padding: 1rem;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  border-radius: var(--border-radius);
  width: 90%;
}

#destination {
  margin-top: 1rem;
  display: flex;
  gap: 0;
}
.dates {
  margin-top: 1.3rem;
}
#date {
  margin-top: 0.6rem;
  display: flex;
  gap: 0;
}
#from {
  border-top: 0;
  border-left: 0;
  width: 50%;
  height: 2.5rem;
}
#check-in {
  border-top: 0;
  border-left: 0;
  width: 50%;
}
#check-out {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 50%;
}
#to {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 50%;
}
input {
  margin-left: 0;
  padding: 0.7rem;
}
.des-title {
  color: rgba(23, 23, 23, 0.7);
  font-weight: var(--ff-weight-2);
  /* margin-bottom: 0.5rem; */
}
.date-title {
  color: rgba(23, 23, 23, 0.7);
  margin-top: 0.1rem;
  margin-bottom: 0.4rem;
  font-weight: var(--ff-weight-2);
}
input::placeholder {
  padding: 0.5rem;
}
.dates-btn {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 280px) and (max-width: 360px) {
  .form-center {
    margin-top: 3.5rem;
  }
}
@media screen and (min-width: 760px) {
  .form-center {
    max-width: 600px;
  }
}
@media screen and (min-width: 992px) {
  .form-center {
    max-width: 760px;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
  }
  .form-btn {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .dates {
    margin-top: 0rem;
  }
  .dates-btn {
    margin-top: 0;
  }
  .date-title {
    top: 0;
  }
}
@media screen and (min-width: 1170px) {
  .form-center {
    max-width: 992px;
  }
}

/*
============
Explore
============
*/
.explore {
  margin-top: -5rem;
  padding: 0 1rem;
}
.underline {
  width: 10rem;
  height: 0rem;
  border: 1px solid var(--clr-primary-1);
}
.ex-plore {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* .ex-plore h2 {
  font-size: 2rem;
} */
.explore-title {
  font-size: 1.7rem;
  line-height: 3rem;
}
.explore-text {
  margin: 0 auto;
  max-width: 540px;
  margin-bottom: 1rem;
}
.explore-txt p {
  margin: 1rem 0;
  line-height: 1.8rem;
  font-size: 1.3rem;
  max-width: 30rem;
  /* font-weight: var(--ff-weight-2); */
  color: var(--clr-text);
}
.explore-button {
  margin-bottom: 1rem;
}
.explore-btn {
  padding: 0.8rem 1.3rem;
}
.explore-btn p {
  font-size: 1.1rem;
  font-weight: var(--ff-weight-2);
}
.explore-img {
  position: relative;
  margin: 0 auto;
  max-width: 540px;
}
.exploreimg-container {
  width: 400px;
  height: 580px;
}
.explore-pic:nth-child(1) {
  width: 100%;
  top: 0;
  left: 0;
}
.explore-pic:nth-child(2) {
  width: 170px;
  height: 320px;
  position: absolute;
  top: 4rem;
  left: 18rem;
  z-index: -1;
}

@media screen and (min-width: 280px) and (max-width: 330px) {
  .exploreimg-container {
    width: 210px;
  }
  .explore-pic:nth-child(2) {
    width: 70px;
    height: 120px;
    position: absolute;
    top: 3.5rem;
    left: 10.5rem;
    z-index: -1;
  }
}
@media screen and (min-width: 330px) and (max-width: 406px) {
  .exploreimg-container {
    width: 300px;
  }
  .explore-pic:nth-child(2) {
    width: 60px;
    height: 220px;
    position: absolute;
    top: 3.5rem;
    left: 16rem;
    z-index: -1;
  }
}
@media screen and (min-width: 406px) and (max-width: 450px) {
  .exploreimg-container {
    width: 360px;
  }
  .explore-pic:nth-child(2) {
    width: 80px;
    height: 247px;
    position: absolute;
    top: 5rem;
    left: 19rem;
    z-index: -1;
  }
}
@media screen and (min-width: 450px) and (max-width: 480px) {
  .exploreimg-container {
    width: 340px;
  }
  .explore-pic:nth-child(2) {
    width: 100px;
    height: 250px;
    position: absolute;
    top: 4rem;
    left: 18rem;
    z-index: -1;
  }
}
@media screen and (min-width: 660px) and (max-width: 992px) {
  .exploreimg-container {
    width: 480px;
  }
  .explore-pic:nth-child(2) {
    width: 250px;
    height: 400px;
    position: absolute;
    top: 4.5rem;
    left: 21rem;
    z-index: -1;
  }
}
@media screen and (min-width: 992px) {
  .explore {
    margin-top: 2rem;
  }
  .explore-center {
    display: flex;
    align-items: center;
  }
  .exploreimg-container {
    width: 450px;
  }
  .explore-pic:nth-child(2) {
    width: 169px;
    height: 340px;
    position: absolute;
    top: 5rem;
    left: 19rem;
    z-index: -1;
  }
  .explore-text {
    align-self: center;
  }
  .explore {
    margin: 0 auto;
    max-width: 992px;
  }
}
@media screen and (min-width: 1024px) {
  .explore {
    max-width: 1024px;
  }
  .explore-pic:nth-child(2) {
    width: 176px;
    height: 340px;
    position: absolute;
    top: 5rem;
    left: 19rem;
    z-index: -1;
  }
}
@media screen and (min-width: 1170px) {
  .explore {
    max-width: 1170px;
  }
  .explore-pic:nth-child(2) {
    width: 200px;
    height: 340px;
    position: absolute;
    top: 5rem;
    left: 19rem;
    z-index: -1;
  }
}
@media screen and (min-width: 1280px) {
  .explore {
    max-width: 1200px;
  }
  .explore-pic:nth-child(2) {
    width: 250px;
    height: 340px;
    position: absolute;
    top: 5rem;
    left: 19rem;
    z-index: -1;
  }
}

/*
=============
features
=============
*/

.features {
  margin-top: -7.6rem;
}
.features-info {
  margin: 0 auto;
  max-width: 540px;
}
.info-title h2 {
  font-size: 2.5rem;
  margin: 1rem 1rem;
  font-weight: var(--ff-weight-3);
}
.info-text p {
  color: var(--clr-text);
  font-size: 1.3rem;
  line-height: 1.8rem;
  max-width: 30rem;
  margin: 1rem 1rem;
}
.info-metrics {
  margin: 1rem;
}
.travellers h2 {
  font-size: 2.6rem;
  font-weight: var(--ff-weight-3);
  color: var(--clr-primary-1);
}
.travellers p {
  font-size: 1rem;
  font-weight: var(--ff-weight-1);
  text-align: center;
}
.trips h2 {
  font-size: 2.6rem;
  font-weight: var(--ff-weight-3);
  color: var(--clr-primary-1);
}
.trips p {
  font-size: 1rem;
  font-weight: var(--ff-weight-1);
  text-align: center;
}
.info-metrics {
  display: flex;
  gap: 4rem;
  margin-top: 3rem;
}
.features-img {
  width: 450px;
  height: 400px;
  margin: 0rem auto;
  margin-top: 3rem;
}
.features-pic {
  width: 100%;
}
.info-button {
  margin: 1rem;
}

@media screen and (min-width: 280px) and (max-width: 330px) {
  .features-img {
    width: 250px;
  }
  .features {
    margin-top: -20rem;
  }
}
@media screen and (min-width: 330px) and (max-width: 406px) {
  .features-img {
    width: 310px;
  }
  .features {
    margin-top: -14rem;
  }
}
@media screen and (min-width: 406px) and (max-width: 450px) {
  .features-img {
    width: 380px;
  }
  .features {
    margin-top: -10rem;
  }
}
@media screen and (min-width: 450px) and (max-width: 480px) {
  .features-img {
    width: 420px;
  }
  .features {
    margin-top: -12rem;
  }
}
@media screen and (min-width: 660px) and (max-width: 992px) {
  .features-img {
    width: 500px;
  }
  .features {
    margin-top: -2rem;
  }
}

@media screen and (min-width: 992px) {
  .features-center {
    display: flex;
    /* align-items: center */
    flex-direction: row-reverse;
    gap: 3rem;
    margin: 1rem;
  }
  .features-img {
    width: 520px;
  }
  .features-info {
    margin-top: 2rem;
  }
  .features {
    margin: 0 auto;
    max-width: 992px;
    margin-top: -4rem;
  }
}
@media screen and (min-width: 1024px) {
  .features {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1024px) {
  .features {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1170px) {
  .features {
    max-width: 1170px;
  }
}
@media screen and (min-width: 1280px) {
  .features {
    max-width: 1280px;
  }
}

/*
=====================
popular destinations
======================
*/

.destinationsi {
  max-width: 1270px;
  /* margin-top: -10rem; */
  /* background: #171717; */
  padding-left: 1rem;
}
.dest-title {
  padding-left: 1rem;
}
.dest-text {
  padding-left: 1rem;
}
.dest-title h2 {
  font-size: 2.65rem;
  font-weight: var(--ff-weight-3);
  line-height: 3rem;
  color: var(--clr-black);
}
.dest-text p {
  font-size: 1.16rem;
  line-height: 1.3rem;
  max-width: 30rem;
  margin-top: 0.8rem;
  color: var(--clr-text);
}
.rating {
  display: flex;
}
.sliderr {
  width: 330px;
  height: 400px;
}
.dest-photo {
  width: 100%;
  height: 100%;
}
.detail-box {
  padding: 1rem;
  box-shadow: var(--light-shadow);
}
.title p {
  margin-top: 0.6rem;
  margin-bottom: 1rem;
}
.slide-content {
  margin: 0 4rem;
}
.box {
  max-width: 1400px;
  width: 100%;
  height: 650px;
  margin-left: 1rem;
}
.prev-next {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.prev-btn {
  width: 1.875rem;
  height: 1.875rem;
  border: 2px solid var(--clr-primary-1);
  border-radius: 45%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
}
.next-btn {
  width: 1.875rem;
  height: 1.875rem;
  border: 2px solid var(--clr-primary-1);
  border-radius: 45%;
  padding: 0.2rem;
  background: var(--clr-primary-1);
  display: flex;
  align-items: center;
}
.prev {
  font-size: 1.4rem;
  color: var(--clr-primary-1);
}
.next {
  font-size: 1.4rem;
  color: #ffffff;
}
.popular-destination {
  margin-bottom: 2rem;
}

@media screen and (min-width: 280px) and (max-width: 330px) {
  .destinationsi {
    margin-top: -10rem;
  }
}
@media screen and (min-width: 330px) and (max-width: 406px) {
  .destinationsi {
    margin-top: -8rem;
  }
}
@media screen and (min-width: 406px) and (max-width: 450px) {
  .destinationsi {
    margin-top: -5rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 580px) {
  .popular-destination {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 660px) {
  .destinationsi {
    margin-top: -4rem;
  }
  .popular-destination {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 660px) {
  .destinationsi {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .popular-destination {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .destinationsi {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1120px) {
  .destinationsi {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1180px) {
  .destinationsi {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .destinationsi {
    margin-left: 3rem;
  }
  .popular-destination {
    margin-top: 5rem;
  }
}

/*
==============
reviews
==============
*/
.reviews {
  padding: 2rem;
}
.review-title h2 {
  font-size: 2.2rem;
  font-weight: var(--ff-weight-3);
}
.review-text {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  max-width: 27rem;
  color: var(--clr-text);
}
.review {
  box-shadow: var(--light-shadow);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 330px;
  margin-top: 1.8rem;
}
.person {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.person-id p {
  margin-top: 0.4rem;
}
.comment {
  margin-top: 2.5rem;
}
.comment p {
  max-width: 16rem;
}
.prev-next {
  /* margin-top: -1rem; */
}

@media screen and (min-width: 280px) {
  .reviews {
    margin-top: -5rem;
  }
}

@media screen and (min-width: 580px) {
  .review-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .review-title h2 {
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .reviews {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1120px) {
  .reviews {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1180px) {
  .reviews {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    margin-left: 3rem;
  }
}
